<section>
    <section class="appointment-date box">
        <progress class="progress is-info" value="0" max="100">0%</progress>
        <p>Select the month</p>
        <article class="months is-flex is-flex-wrap-wrap is-justify-content-center">
            <!-- The month buttons will be added here from JavaScript -->
        </article>
        <article class="days is-flex is-flex-wrap-wrap is-justify-content-center column is-10 is-offset-1">
            <!-- The day buttons will be added here from JavaScript -->
        </article>
        <article class="appointment-hour is-flex is-flex-wrap-wrap is-justify-content-center mt-4">
            <!-- The hour input field will be added here from JavaScript -->
        </article>
        <article class="appointment-minute is-flex is-flex-wrap-wrap is-justify-content-center mt-4">
            <!-- The minute input field will be added here from JavaScript -->
        </article>
        <article class="date-description mt-4">
            <!-- Date the user has chosen for the appointment will be displayed in this article -->
        </article>
    </section>

    <section class="appointment-details">
        <progress class="progress is-info" value="50" max="100">50%</progress>
        <h3 class="has-text-grey-dark is-size-3">Appointment Information:</h3>
        <form>
            <div class="is-size-5 my-4">
                <label class="has-text-weight-semibold" for="username-input">Enter Your Name:</label><br>
                <input type="text" id="username-input" name="username-input" placeholder="Enter Your Name" size="50">
            </div>
            <div class="is-size-5 my-4">
                <label class="has-text-weight-semibold" for="appointment-name-input">Appointment For Whom:</label><br>
                <input type="text" id="appointment-name-input" name="appointment-name-input"
                    placeholder="Enter Who the Appointment is For" size="50">
            </div>
            <div class="is-size-5 my-4">
                <label class="has-text-weight-semibold" for="person-appointment-with">Appointment With:</label><br>
                <input type="text" id="person-appointment-with" name="person-appointment-with"
                    placeholder="Enter Who the Appointment is With" size="50">
            </div>
            <div class="is-size-5 my-4">
                <label class="has-text-weight-semibold" for="appointment-location">Appointment Location:</label><br>
                <input type="text" id="appointment-location" name="appointment-location"
                    placeholder="Enter Address of Appointment" size="50">
            </div>
            <div id="map"></div>
            <input class="submit-appointment button is-success mt-3 px-5" type="submit" value="Submit">
        </form>
    </section>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/../js/add-new-appointment.js"></script>